extend layout
block content
  h2(style='margin-bottom: 0')
    | ActivityStream
  div
    | #{days} days
    | (#{start.getFullYear()}-#{start.getMonth()}-#{start.getDate()}
    | #{stop.getFullYear()}-#{stop.getMonth()}-#{stop.getDate()})
    | #{activities.length} entries
  ul
    - var last_day = ""
    - var totals = {}
    each act in activities
      - var today = new Date(act.published)
      - var this_day = today.getFullYear()
      - this_day = this_day + (today.getMonth() < 9 ? "0" : "")
      - this_day = this_day + (today.getMonth()+1)
      - this_day = this_day + (today.getDate() < 9 ? "0" : "")
      - this_day = this_day + (today.getDate()+1)
      - if(last_day != this_day)
        li.daybar(id="#{this_day}")
          time(data-format="yyyy-MMM-dd" datetime="#{act.published}")
          span.total
        - last_day = this_day
      pre(style="display:none")
        !{JSON.stringify(act, null, 2)}
      li.activity
        div.rowbottom
          span.published
            time(data-format="hh:mmtt" datetime="#{act.published}")
              | #{act.published}
          span.verb
            | #{act.verb}
          if act.object
            span.object
              - if (typeof act.object === "object")
                | #{act.object.name}
                - if (act.object.price)
                  |  $#{act.object.price}
                  - if (!totals[this_day])
                    - totals[this_day] = 0
                  - totals[this_day] = totals[this_day] + act.object.price
              - else
                | #{act.object}
          if act.provider == "foursquare"
            span
            | #{act['object']['name']}
          if act.provider == "canary"
            - var payload = act['payload']
            - var connected = payload['aps']['connected']
            if connected
              span.connected
                | #{connected['ssid']}
            - var nearby = payload['aps']['nearby']
            if nearby
              div.nearby
                | NearBy
                ul.nearby
                  each ap in nearby
                    li #{ap.ssid}
        div.rowtop
          if act.actor
            span.actor
              | #{act.actor}
          span.provider
            | #{act.provider}
          form(action="delete" method="post" style="display:inline")
            input(name="id" value="#{act.id}" type="hidden")
            input(type="submit" value="x")


  script.
    time_fixup()
    var totals = !{JSON.stringify(totals)}
    for(var total in totals) {
      var id = '#'+total+' .total'
      var amount = totals[total]
      $(id).html('$'+amount.toFixed(2))
    }
