extend layout
block content
  h2 
    | ActivityStream
  ul
    each act in activities
      li.activity
        if act.actor
          span.actor
            | #{act.actor}
        span.published
          time
            | #{act.published}
        span.verb
          | #{act.verb}
        span.provider
          | #{act.provider}
        if act.object
          span.object
            | #{act.object}
        if act.provider == "foursquare"
          span
          | #{act['object']['name']}
        if act.provider == "canary"
          - var payload = act['payload']
          - var connected = payload['aps']['connected']
          if connected
            span.connected
              | #{connected['ssid']}
          - var nearby = payload['aps']['nearby']
          if nearby
            div.nearby
              | NearBy 
              ul.nearby
                each ap in nearby
                  li #{ap.ssid}

